<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edit Sleep Tracker Entry</title>
</head>
<body>
	<div align="center">
		<h1>Edit Sleep Tracker Entry</h1>
		<br />
		<form action="#" th:action="@{/savesleeptracker}" th:object="${sleeptracker}" method="post">
			<table border = "0" cellpadding="10">
				<tr>
					<td>Sleep ID:</td>
					<td>
						<input type="text" th:field="*{id}" readonly="readonly"/>
					</td>
				</tr>
				<tr>
					<td>Date:</td>
					<td><input type="date" th:field="*{date}"/></td>
				</tr>
				<tr>
					<td>Number of Hours:</td>
					<td><input type="number" th:field="*{numberofhours}"/></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>