<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Edit Food Type</title>
</head>
<body>
	<div align="center">
		<h1>Edit Food Type</h1>
		<br />
		<form action="#" th:action="@{/savefoodtype}" th:object="${foodtype}" method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>Food Type Number:</td>
					<td>
						<input type="text" th:field="*{number}" readonly="readonly"/>
					</td>
				</tr>
				<tr>
					<td>Detail:</td>
					<td>
						<input type="text" th:field="*{detail}" />
					</td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>