<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Sample Layout</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	<body>
		<div align="center">
			<h1>Asthma Patient Aide</h1>
			<table border="1" cellpadding="10">
				<tr>
				<td>
					<a href="/activities">Activities</a><br>
					<a href="/allergy">Allergy</a><br>
					<a href="/attack">Attack Tracker</a><br>
					<a href="/emotion">Emotion</a><br>
					<a href="">First Aid</a><br>
					<a href="">Food</a><br>
					<a href="">Food Type</a><br>
					<a href="">Frequency</a><br>
					<a href="">Healed</a><br>
					<a href="">Hospital</a><br>
					<a href="">Medication</a><br>
					<a href="">Physician</a><br>
					<a href="">Sleep Tracker</a><br>
					<a href="">Stress Tracker</a><br>
					<a href="">Users</a><br>
					<a href="">Weather</a>
				</td>
			</tr>	
			</table>
		</div>
	</body>
</html>