<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
</head>
<body>
	<div id="container" align="center">
	<h2>Login Page</h2>
	<form th:action="@{/login.html}" method="post">
		<label for="username">Username</label>
		&nbsp;
		<input type="text" id="username" name="username" autofocus="autofocus"/><br>
		<label for="password">Password</label>
		&nbsp;&nbsp;
		<input type="password" id="password" name="password"/><br>
		<input type="submit" id="submit" value="Log in"/>
	</form>
	<p th:if="${loginError}" class="error">Wrong user or password</p>
	</div>
</body>
</html>