<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create New Emotion</title>
</head>
<body>
	<div align="center">
		<h1>Create New Emotion</h1>
		<br />
		<form action="#" th:action="@{/saveemotion}" th:object="${emotion}" method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>Description:</td>
					<td><input type="text" th:field="*{description}"/></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button>
				</tr>
			</table>		
		</form>
	</div>
</body>
</html>